# Python
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment (recommended name)
.venv

# src
src/__pycache__
src/sandbox.py

# VS Code
.vscode/
# Uncomment the following line to ignore all local workspace settings
#.vscode/* 
# except for specific shared settings (like tasks or launch configs)
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json

# Operating System files
Thumbs.db # Windows